@model  NewsType
@{
    ViewBag.Title = "Haber Tip Detayı";
}

<h2>Haber Tip Detayı</h2>

<div class="form-group" hidden>
    @Html.DisplayNameFor(m => m.NewsTypeId)
    <br />
    @Html.DisplayFor(m => m.NewsTypeId)
</div>

<div class="form-group">
    @Html.DisplayNameFor(m => m.NewsTypeName)
    <br />
    @Html.DisplayFor(m => m.NewsTypeName)
</div>

<div class="form-group">
    @Html.DisplayNameFor(m => m.NewsTypeDescription)
    <br />
    @Html.DisplayFor(m => m.NewsTypeDescription)
</div>

@Html.ActionLink("Listeye geri dön", "ListNewsType", "NewsType")